.home {
  .home-navbar-brand {
    color: rgb(14, 238, 14);
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
  }
  .btn-primary {
    background: #00d09c;
    border: none;
    font-size: 20px;
  }
}
